//SIZE
$screen-size: 700px;


//MODELO-CONTAINER
@media screen and (max-width: 700px) {

    .modelo-content-view {
        flex-direction: column-reverse
        
    }
}

//WORKTABLE
@media screen and (max-width: $screen-size) {

    .worktable-menu{
        max-width: none;
        width: 100%;
        height: max-content;
        
    }
}

//MAPA
@media screen and (max-width: $screen-size) {

    .leaflet {
        height: 300px;
        position: sticky;
        top:68px;
        z-index: 1000;
    }
}