#BACKEND
Rescol-backend/api/migrations/__pycache__/
Rescol-backend/api/migartions/0001_initial.py
Rescol-backend/api/__pycache__/
Rescol-backend/mockup/__pycache__/

Rescol-backend/api/data/outputs/*
Rescol-backend/api/data/redes/*
Rescol-backend/api/data/segmentos/*
Rescol-backend/api/data/temp/*

!Rescol-backend/api/data/outputs/
!Rescol-backend/api/data/redes/
!Rescol-backend/api/data/segmentos/
!Rescol-backend/api/data/temp/

#FRONTEND
**/node_modules
