.error-card-container{
    height: 158px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: solid #ff2c2c;
    border-radius: 10px;
    cursor: pointer;
    color: #ff2c2c;
    span{
        font-size: 14px;
    }
    

}